* {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}



.header-top {
  width: auto;
  height: 4.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 9rem;
  background-color: #02A28F;
}

.container-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2.25rem;

}



.item1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  order: 1;
}

.item2 {
  order: 2;
}

.item3 {
  width: 48rem;
  height: 40rem;
  
  order: 3;
}

.grid-cards {
  width: 48rem;
  height: 40rem;
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
}

.grid-cards > img {
  height: 24.7rem;
  width: 22.5rem;
}

.grid-cards > img:hover {
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.01);
  cursor: pointer;
}

.item4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
  height: 27.5rem;
  order: 4;
}

.footer {
  width: auto;
  height: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin-top: 28rem;
  background-color: #02A28F;
}

.grid-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
  height: 27.5rem;
  border-radius: 0.6rem;
}

.item4 > img {
  width: 22.5rem;
  height: 1.25rem;
  margin-bottom: .5rem;
}

.item4 > img:hover {
  transition: 0.5s;
  transform: scale(1.02);
  cursor: pointer;
}

.grid-divs > img {
  width: 23.5rem;
  height: 8rem;
  margin-top: 0.8rem;
}

.grid-divs > img:hover {
  transition: 0.5s;
  transform: scale(1.02);
  cursor: pointer;
}

#sessao-1 {
  width: 76rem;
  height: 56rem;
  position:relative;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.banner {
  width: 46.5rem;
  height: 24.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.6rem;
  color: #fff;
  background-image:  url(./Imagens/banner.jpg );
}

.banner:hover {
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.01);
  cursor: pointer;
  
}

.grid-text-item3 {
  color: #fff;
  width: 47rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.212);
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #02A28F;
}

.item3 >.grid-text-item3 > a {
  font-weight: 500;
  font-size: .8rem;
  color: #fff;
  margin-right: 1.5rem;
}

.item3 >.grid-text-item3 > a:hover {
  transition: 0.5s;
  transform: scale(1.02);
  cursor: pointer;
} 

.grid-text {
  color: #fff;
  width: 21.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.212);
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #02A28F;
}

@media only screen and (min-width: 374px) and (max-width: 767px) {
  .header-top {
    width: auto;
    height: 4.4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }

  #sessao-1 {
  width: 24rem;
  height: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  background-color: aqua;
  }

  .banner {
    width: 22rem;
    height: 24.6rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.6rem;
    color: #fff;
  }

  .item2 {
    order: 3;
  }

  .item3 {
    order: 2;
  }

  .grid-text-item3 {
  color: #fff;
  width: 22rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 12.5rem;
  }

  .grid-cards {
  width: 48rem;
  height: 40rem;
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.grid-cards > img {
  width: 25rem;
}

.grid-divs {
  margin-top: 65rem;
}


.footer {
  margin-top: 15rem;
}
}