* {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}



.header-top {
  width: auto;
  height: 4.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 9rem;
  background-color: #02A28F;
}

.container-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2.25rem;
  background-color: #02A28F;

}



.item1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  order: 1;
}

.item2 {
  order: 2;
}

.item3 {
  order: 3;
  background-color: violet;
}

.item4 {
  background-color: blue;
  order: 4;
}

.grid-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
  height: 28.5rem;
  border-radius: 0.6rem;
}

.grid-divs > img {
  width: 23.5rem;
  height: 7rem;
  margin-top: 0.8rem;
}

.grid-divs > img:hover {
  transition: 0.5s;
  transform: scale(1.02);
  cursor: pointer;
}

#sessao-1 {
  width: 76rem;
  height: 60rem;
  position: relative;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.banner {
  width: 46.5rem;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.6rem;
  color: #fff;
  background-image:  url(./Imagens/banner.jpg );
}

.banner:hover {
  opacity: 0.9;
  transition: 0.5s;
  transform: scale(1.01);
  cursor: pointer;
  
}

.grid-text {
  color: #fff;
  width: 21.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.212);
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #02A28F;
}

@media only screen and (max-width: 384px) {

}